on:
    push:
        branches:
            - 'feature/*'
            - 'bugfix/*'

jobs:
    build-docker-image:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v3
            -   name: Set up Python 3.9
                uses: actions/setup-python@v3
                with:
                    python-version: 3.9

            -   name: Install dependencies
                run: |
                    python -m pip install --upgrade pip
                    pip install -r requirements.txt

            -   name: Build package
                run: |
                    pyinstaller --clean wechatbot.spec

            -   name: Login to a private Container registry
                uses: docker/login-action@v3
                with:
                    registry: ${{ secrets.DOCKER_REGISTRY }}
                    username: ${{ secrets.DOCKER_ACCOUNT }}
                    password: ${{ secrets.DOCKER_PASSWORD }}

            -   name: Extract metadata (tags, labels) for Docker
                id: meta
                uses: docker/metadata-action@v5
                with:
                    images: |
                        ${{ secrets.DOCKER_REGISTRY }}/${{ github.repository }}
                    tags: |
                        type=ref,event=branch

            -   name: Build and push Docker image
                uses: docker/build-push-action@v5
                with:
                    context: .
                    push: true
                    tags: ${{ steps.meta.outputs.tags }}
                    labels: ${{ steps.meta.outputs.labels }}